@import url(global.css);
@import url(nav.css);

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #747474;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px 30px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
  margin: 50px auto; /* Centraliza o formulário na página */
}

h1 {
  color: #333;
  font: var(--text-lg);
}

form {
  width: 100%;
}

label {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: left;
  color: #555;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

input[type="date"] {
  color: #555;
}

button {
  padding: 10px;
  border-radius: 10px;
  margin-top: 15px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #4caf50;
  width: 100%;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:active {
  transform: scale(0.98);
}
