nav {
    font: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    line-height: 0;
    padding-block: 15px 12px;
/*     background-image: url(../assets/images/carousel/slide1.webp);
 */}

nav ul {
    color: var(--skeleton-color);
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: bold;

    padding-block: 8px;
}

nav a img{
    width: 110px;
    
}

.main-logo-wrapper {
    padding: 8px;
    background-color: #f3f3f3;
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
    text-shadow: 1px 1px 1px #31313181;
    font-size: 1rem;
    transition: all 500ms;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.372);

    
    &:hover {
        transform: scale(1.050);
    }
    
}

